<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFSqeKYILGK046q8_Y5XzsHIVdRz2gnzY</string>
	<key>GCM_SENDER_ID</key>
	<string>589116200518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akademifyy.parent</string>
	<key>PROJECT_ID</key>
	<string>akademifyy-schoolapp</string>
	<key>STORAGE_BUCKET</key>
	<string>akademifyy-schoolapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589116200518:ios:36c08e8262f129853e9c47</string>
</dict>
</plist>
